# Format of each line:
# <Preferred address in AUTHORS> <other alias used by same author>

<cfergeau@redhat.com> <teuf@gnome.org>
<cfergeau@redhat.com> <cfergeau@gmail.com>
Marc-André Lureau <marcandre.lureau@redhat.com>
Marc-André Lureau <marcandre.lureau@redhat.com> <marcandre.lureau@gmail.com>
<marcandre.lureau@redhat.com> <mlureau@redhat.com>
Tiziano Müller <tiziano.mueller@stepping-stone.ch> <dev-zero@gentoo.org>
Dietmar Maurer <dietmar@proxmox.com> <dietmar@proxmox.com>
<dmitry@daynix.com> <dfleytma@redhat.com>
<pgrunt@redhat.com> <pavel.grunt@gmail.com>
Sandy Stutsman <sstutsma@redhat.com>
<victortoso@redhat.com> <vtosodec@redhat.com>
<victortoso@redhat.com> <me@victortoso.com>
<javier.celaya@flexvdi.com> <javier.celaya@flexvm.es>
Snir Sheriber <ssheribe@redhat.com>
