/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/__init__.pyc
/_libs
/codegen.pyc
/demarshal.pyc
/marshal.pyc
/ptypes.pyc
/so_locations
/spice_parser.pyc
/tags
