/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/SpiceClientGLib-2.0.gir
/SpiceClientGLib-2.0.typelib
/SpiceClientGtk-2.0.gir
/SpiceClientGtk-2.0.typelib
/SpiceClientGtk.la
/TAGS
/_libs
/generated_demarshallers.c
/generated_demarshallers1.c
/generated_marshallers.c
/generated_marshallers1.c
/libspice-client-glib-2.0.la
/libspice-client-gtk-2.0.la
/snappy
/so_locations
/spice-client-gtk-module.defs.c
/spice-glib-enums.c
/spice-glib-enums.h
/spice-marshal.c
/spice-marshal.h
/spice-widget-enums.c
/spice-widget-enums.h
/spicy
/tags
/vncdisplaykeymap_osx2xtkbd.c
/vncdisplaykeymap_win322xtkbd.c
/vncdisplaykeymap_xorgevdev2xtkbd.c
/vncdisplaykeymap_xorgkbd2xtkbd.c
/vncdisplaykeymap_xorgxquartz2xtkbd.c
/vncdisplaykeymap_xorgxwin2xtkbd.c
