/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/setup.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/spice-gtk-decl-list.txt
/spice-gtk-decl.txt
/spice-gtk-undeclared.txt
/spice-gtk-undocumented.txt
/spice-gtk-unused.txt
/spice-gtk.args
/spice-gtk.hierarchy
/spice-gtk.interfaces
/spice-gtk.prerequisites
/spice-gtk.signals
/tags
/tmpl/*.bak
/tmpl/spice-gtk-unused.sgml
/xml
